* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  background-color: #fff;
  font-family: DroidKufi;
  direction: rtl;

}

.top-nav {
  background-color: black;
  color: #cfcfcf;
  display: flex;
  justify-content: space-around;
}

.top-nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-nav-right h3 {
  color: #cfcfcf;
  background-color: red;
  padding: 8px;
  margin-left: 8px;

}

.top-nav-right a {

  color: #cfcfcf;
  text-decoration: none;
  position: relative;
  line-height: 15px;
  font-size: 15px;

}

.top-nav-right a:hover {
  color: blue;
}

.top-nav-right .facebook:hover {
  color: blue;
}

.top-nav-right .twitter:hover {
  color: rgb(104, 146, 224);
}

.top-nav-right .youtube:hover {

  color: red;
}


.top-nav-center {
  display: flex;
  align-items: center;
  gap: 10px;

}

.top-nav-center a {
  text-decoration: none;
  color: #cfcfcf;
}

.top-nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info {

  display: flex;
  align-items: center;
  gap: 100px;
}

.info-alasema h3 {
  color: gray;
}

.nav-main {

  background-color: #292929;
  height: 40px;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  color: #cfcfcf;
}

.nav-main a {
  color: #cfcfcf;
  text-decoration: none;
  justify-content: space-around;
}

.nav-main .main {
  align-items: center;
  display: flex;
  background-color: red;
  height: 40px;
  width: 40px;
}

.nav-main a:hover {
  color: white;
  padding: 10px;
  background-color: red;
}

.sidebar {
  display: flex;
}

.articles {
  display: flex;
  gap: 14px;

}

a {
  text-decoration: none;
  display: block;
  width: fit-content;

}

.text {
  display: flex;
  flex-direction: column;
  align-items: end;

}

.text :nth-child(1) {
  color: red;
}

.text :nth-child(2) {
  color: black;
  display: block;
  text-align: right;

}

.sidebar-two {
  background-color: #fff;
  box-sizing: border-box;
}

.egypt-news {
  background-color: #292929;
  display: grid;
  grid-template-rows: 89% 80% 50%;
  grid-template-columns: 38% 36% 36%;
  color: #cfcfcf;
  margin-top: 20px;
  padding: 30px;
  align-items: center;
}


.news a span {
  color: #fff;
  font-size: 30px;
  border-bottom: 1px solid #eeeeee49;
  transition: 0.5 color;
  position: relative;

}

.news a span:hover {
  color: red;
}

.news-two a {
  color: white;
  background-color: red;
  border: red solid 5px;

}

.news img {
  width: 85%;
  margin-top: 20px;
  box-sizing: border-box;
  border: #fff solid 5px;
  flex: 0 0 auto
}

.text-one {
  color: #fff;
  gap: 20px;
}

.text-one a {
  justify-content: center;
  align-items: center;
  color: #fff;
  display: flex;


}


.text-one .time {
  color: gray;
  margin-bottom: 0.3rem;
  gap: 15px;
  transition: all 0.4s ease-in-out;
  display: block;
}

.text-one .read {
  color: #fff;
  background-color: red;
  border: red solid 5px;
}

.egypt-news-two {
  background-color: #292929;
  display: flex;
  color: #cfcfcf;
  margin-top: 20px;
  padding: 30px;
  align-items: center;
}

.img-two img {
  width: 30%;
  margin-top: 20px;
  box-sizing: border-box;
  border: #fff solid 5px;
  flex: 0 0 auto
}

.img-two a {
  color: white;
  background-color: red;
  border: red solid 10px;
}

.news .eg-ne {
  color: white;
  background-color: red;
  border: red solid 10px;
}